## 4.1 はじめに

In [1]:
val_int = 1 #これで1を紐づけます。

#以下はコメントなので、コメントは入力しなくてよいです。  

* インラインコメント

    
  コード文  #コメント
    
* ブロックコメント

  
  #コメント  
  コード文  
  コード文  
  ....  
  
Pythonのコードを記載していくスタイルとしては、あまりインラインコメントは多用しないことが推奨されている。

## 4.2 関数とメソッド

関数とメソッド、どちらもデータの処理に関するものと受け取っておいてください。

### 4.2.1 関数 (functions)

関数は、  
  
関数名(中に何かを書く、もしくは空白)  

というふうに、関数名+()内に変数など、という形で記載する。以下に関数の例を示す。  
入力して実行 (セル内でShift-Return/Enter)してみてください。

In [3]:
abs(-7)

7

abs()関数といい、値の絶対値を返す関数です。

In [4]:
abs(7)

7

次に print()関数を試す。括弧内の値を出力する。

In [5]:
test_str='Herro Bio!'
print(test_str)

Herro Bio!

ここでは、test_strの中身 (文字列 'Hello Bio') を出力しなさい。という命令を実行している。  
ただし、Jupyter Notebook の場合は、変数を入力するとそのまま中身を返してくれる。

In [6]:
test_str

'Herro Bio!'

print()を使用したときと表記が違うのは、あくまでセルの中身を評価した結果が返ってくるので、「str型(文字列)」としての'Hello Bio!'が帰ってきているためである。  
この違うをもう少し見てみる。

In [7]:
import numpy as np
print(np.__version__)

1.26.4

In [8]:
array1=np.array([[0,1],[2,3]]) #実行しても画面表示はでてきません。

array1 をprint()してみる。

In [9]:
print(array1)

[[0 1]
 [2 3]]

これは2行2列の行列である。　次に array1 と打ってみる。

In [10]:
array1

array([[0, 1],
       [2, 3]])

先ほどと違って、array という表記がついてくる。これは、この中身自体が array型 というものである。

また、Jupyter Notebook はコードセルが返す値は、最後の行の結果だけである。

In [11]:
val_a=1
val_b=2
val_a
val_b

2

実行する1つのコードセル内で両方を表示したければ、print()文を2回実行する必要がある。

In [12]:
print(val_a)
print(val_b)

1
2

このようなabs()やprint()のようにpythonではじめから用意されている関数を __組み込み関数 (build-in function)__ と言う。自分でも関数は作ることができるため、それと区別するためにこのように呼ばれる。

### 4.2.2 メソッド (method)

メソッドは、変数etc.メソッド名 (何か書いたり、書かなかったり)  

というふうに、間に.(ピリオド) を置き、その後ろにメソッド名という形で記載する。

In [14]:
'Hello Bio'.upper()

'HELLO BIO'

ここで使っているのは、str型のメソッドupper()である。文字列を大文字に変換したものを出力する。

In [15]:
'Hello Bio'.upper().replace('BIO','INFO')

'HELLO INFO'

replace()メソッドは、文字列を置換するメソッド。ここでは、「'Hello Bio'を大文字化したもの」に対して「BIO -> INFOへの変換」を行っている。  
このように重ねがけみたいな書き方もできる。  

メソッドは、ある対象に「付属する機能」とも捉えられる。upper(), replace()はここでは str型 に「付属する機能」として実行する。  
「はじめから用意されているメソッド」も、関数同様に「組み込みメソッド」という言い方もする。

## 4.3 変数

### 4.3.1 変数の基本  
変数はデータの入れ物である。=で代入 (紐付け) を行う。また変数を作成する際には型宣言 (整数を入れるのか、文字列を入れるのか、といった指定) は必要ない。文字列を表現する場合は 囲い文字として'' (シングルクォーテーション)と"" (ダブルクォーテーション) のどちらも使える。

In [17]:
val_int=1
val_int

1

In [18]:
val_float=1.1
val_float

1.1

In [19]:
val_str='atgc'
val_str

'atgc'

以上のように、数字も文字も入る。type()関数で、型を確認することができる。

In [20]:
type(val_int) #1はint(整数)型です

int

In [21]:
type(val_float) #1はfloat(浮動小数点)型です

float

In [22]:
type(val_str) #'atgc'はstr(文字列)型です

str

以下のようにtype()関数に直接'1','1.1','atgc'といった値を入れることもできる

In [23]:
type(1)

int

In [24]:
type(1.1)

float

In [25]:
type('atgc')

str

例えば、「str型 (文字列) としての100」と「int型 (整数) としての100」は異なるので注意。

In [28]:
num_int = 100 # int型 (整数)の100です
num_str = '100' # str型 (文字列)の100です

In [29]:
num_int

100

In [30]:
num_str

'100'

整数の100は加減乗除などが可能だが、、、

In [31]:
num_int + 1

101

In [32]:
num_str + 1

TypeError: can only concatenate str (not "int") to str

文字列ではエラーになる。int型 (整数) と float型 (小数) の加算は可能

In [34]:
val_add = val_int + val_float #int型の1と、float型の1.1を加算する
val_add

2.1

In [35]:
type(val_add)

float

自動的にval_addはfloat型に揃えられて、計算されている。  
「str型と数値型」の加算はできないが、「文字列としての100」と「文字列としての1」を「足す」ことは可能。

先ほどのエラーメッセージには、  
__TypeError: can only concatenate str (not "int") to str__  
と記載があった。
これは、TypeErrorで、型(type)のエラーであることが明示されている。concatenateは連結するという意味。つまり「型エラー。strは int ではなく、str とだけ連結できますよ」というメッセージ。　　

str + str を試す

In [36]:
num_str + '1' #str型としての変数num_str(='100')と '1'を+する

'1001'

文字列 + 文字列は、連結した文字列になる。  
バイオインフォマティックスで遺伝子配列を扱う場合、文字列としての配列を扱うこともあれば、それらを連結することもある。  

ゲノム配列 (のようなもの)を連結してみる

In [37]:
'atgc' + 'ATGC'

'atgcATGC'

文字列としてのゲノム配列であれば、このように扱える。  
関数を用いて型変換した結果を得ることもできる。int()関数を使う。この関数は与えられた引数(ここでは整数が記載されたstr型文字列)をint型に変換する

In [38]:
int(num_str) #str型としての変数num_str(='100')

100

int型としての100が返ってきた。''で括られていない。

In [39]:
int(num_str) + 1

101

先ほどとは異なり、int型としての100+1を実行できた。  
実際にデータを扱う際には、文字列としての数字を数値に変換して処理、ということも行うので、その際にはこういう関数を使うことができる。